@import "tailwindcss";

@theme {
  --color-naranja: #EE7828;
  --color-marron: #806D61;
  --color-crema: #C5BAAA;
  --color-cremaobs: #FFEECB;
  --font-poppins: "Poppins", serif;
}

:root {
  margin: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.satisfy {
  font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", serif;
}